.input_Display {
    background-color: #abc19a;
    border: none;
    color:#6B5252;
    height: 60px;
    width: 640px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    word-wrap: normal;
    
}

.hotCelebs {
    cursor: pointer;
}